<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
</head>
<body>
<h1>Tableau de bord <span th:text="${log.user.firstName}"></span>
    <span th:text="${log.user.lastName}"></span></h1>

<p>Solde : <span th:text="${log.user.balance}"></span></p>

<a th:href="@{/movement}">Alimenter le compte ou retirer de l'argent</a><br>

<a th:href="@{/connection}">Nouvelle connexion</a>

<h2>Transactions déjà effectuées</h2>
<form action="#" th:object="${log.user}">
    <fieldset>
        <table>
            <thead>
                <tr>
                    <th>Connection</th>
                    <th>Description</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction, itemStat : *{transactions}">
                    <td><input th:field="*{transactions[__${itemStat.index}__].userTo.firstName}" /></td>
                    <td><input th:field="*{transactions[__${itemStat.index}__].description}" /></td>
                    <td><input th:field="*{transactions[__${itemStat.index}__].amount}" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>

<h2>Envoyer de l'argent : </h2>
<form method="post" th:action="@{/newTransaction}" th:object="${transactionWebDto}">
    <div>
        <label for="descriptionInput">Description : </label>
        <input type="text" th:field="*{description}" id="descriptionInput" required>
    </div>
    <div>
        <label for="amountInput">Montant : </label>
        <input type="number" th:field="*{amount}" id="amountInput" min="0" max="1000" required>
    </div>
    <div>
        <label for="connectionInput">Destinataire : </label>
        <select input type="text" id="connectionInput" th:field="*{mailTo}" required>
            <option th:each="connection : ${listC}"
                    th:value="${connection.email}"
                    th:text="${connection.firstName}+' '+${connection.lastName}"></option>
        </select>

    </div>
    <button type="submit">Créer</button>
    <button type="reset">Réinitialiser</button>
</form>
<br>

<h2>Se déconnecter</h2>
<form method="post" th:action="@{/logout}" >
    <button type="submit">logout</button>
</form>

</body>
</html>