<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<h1>Create user</h1>

<div th:if="${Error}">
    <h3 th:text="${Error}"></h3>
</div>

<form method="post" th:action="@{/saveUser}" th:object="${newUserDto}">
    <div>
        <label for="firstnameInput">Prénom : </label>
        <input type="text" th:field="*{firstName}" id="firstnameInput" required>
    </div>
    <div>
        <label for="lastnameInput">Nom de famille : </label>
        <input type="text" th:field="*{lastName}" id="lastnameInput" required>
    </div>
    <div>
        <label for="emailInput">Adresse mail : </label>
        <input type="text" th:field="*{email}" id="emailInput" required>
    </div>
    <div>
        <label for="mdpInput">Mot de passe : </label>
        <input type="text" th:field="*{mdp}" id="mdpInput" required>
    </div>
    <button type="submit">Créer</button>
    <button type="reset">Réinitialiser</button>
</form>

</body>
</html>